section {
    height: 400px;
    background-size: cover; /* Растягивание фона на весь блок */
    background-position: center;
    display: flex; /* Отображение дочерних элементов в виде флекс-контейнера */
    justify-content: center; /* Центрирование контента по горизонтали */
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.container {
    width: 80%;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em; /* Размер шрифта абзаца */
}