/* Стили для корневого элемента HTML */
html{
    box-sizing: border-box;
}

/* Наследование box-sizing для всех элементов, включая псевдоэлементы */
*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    color: #000;
    background-color: #ffcc00;
    font-family: 'Comfortaa', sans-serif;
    /* font-family: 'Yeseva One', serif; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit; /* Наследует цвет от родительского элемента */
}

/* Убирает маркеры списка */
ul {
    list-style-type: none;
}

.container{
    max-width: 1160px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

/* Стили для кнопки меню */
.menu__btn{
    display: none; /* Изначально скрываем кнопку */
    width: 30px;
    height: 25px;
    border: none;
    background-color: transparent; /* Прозрачный фон */
    padding: 0;
    border-radius: 0;
    /* display: flex; */
    flex-direction: column; /* Ориентация колонок для кнопки */
    justify-content: space-between; /* Равномерное распределение по вертикали */
}

.menu__btn span{
    height: 1px;
    background-color: #333;
    width: 100%;
}

header{
    background-color: #ff6666;
}

.header__inner{
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex; 
    align-items: center;
}

h4{
    margin-top: 30px;
    margin-left: 10px;
}

/* Стили для списка меню */
.menu__list{
    display: flex;
    gap: 20px; /* Расстояние между элементами списка */
}

.menu__list_link{
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
}

.sign{
    position: relative; /* Позиционирование элемента относительно его нормального положения */
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    float: left;
    line-height: 190px; /* Высота строки, используемая для центрирования текста */
    width: 200px;
    height: 200px;
    background-color: #ffcccc;
    color: #333;
    text-align: center;
    cursor: pointer;
    border-radius: 10px; 
    margin: 10px;
    margin-top: 200px;
    transition: margin-top 0.3s, height 0.3s; /* Плавное изменение отступа сверху и высоты блока */
}

.block:hover {
    background-color: #ff9999;
}

.data-table {
    display: none;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень таблицы */
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden; /* Скрытие контента, выходящего за границы таблицы */
    margin: 0 auto;
}

/* Стили для заголовков и ячеек таблицы данных */
.data-table th, .data-table td {
    padding: 12px;
    text-align: left;
    width: 600px;
    border-bottom: 1px solid #ddd;
}

/* Стили для заголовков таблицы данных */
.data-table th {
    background-color: #635e5e;
    color: white;
}

.form-add{
    background-color: #fff;
    height: 100%;
    width: 500px;
    margin-left: 650px;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
}

.form{
    width: 100%;
    padding: 25px;
    font-size: 16px;
}

.form__input{
    width: 100%;
    padding: 10px;
    border: solid 1px #333;
    font-size: inherit;
}

/* Изначально скрываем форму добавления данных */
.form-add{
    display: none;
}

.send-btn{
    margin-left: auto;
    margin-bottom: 10px;
    border-radius: 2px;
    border: none;
    background-color: #ff6666;
    padding: 10px;
    cursor: pointer;
}

.form-change{
    display: none;
    background-color: #fff;
    height: 100%;
    width: 500px;
    margin-left: 650px;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
}

.change-btn{
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: none;
    background-color: #ff6666;
    padding: 10px;
    cursor: pointer;
}

.findIdFinance-btn{
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: none;
    background-color: #ff6666;
    padding: 10px;
    cursor: pointer;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin-top: 50px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    width: 230px;
}

.email{
    margin: 17px 0;
}

/* Медиа-запрос для устройств с максимальной шириной 1450px */
@media (max-width: 1450px){
    .form-add{
        margin-left: 450px;
    }
    .form-change{
        margin-left: 450px;
    }
}

/* Медиа-запрос для устройств с максимальной шириной 1000px */
@media (max-width: 1000px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .form-add{
        margin-left: 250px;
    }
    .form-change{
        margin-left: 250px;
    }
    .send-btn{
        margin-left: auto; /* Выравнивание кнопки по центру */
    }
}

/* Медиа-запрос для устройств с максимальной шириной 850px */
@media (max-width: 850px){
    .form-add{
        margin-left: auto;
    }
    .form-change{
        margin-left: auto;
    }
    .send-btn{
        margin-left: auto;
    }
}

/* Медиа-запрос для устройств с максимальной шириной 768px */
@media (max-width: 768px){
    body{
        font-size: 10px;
    }
    .container{
        max-width: 640px;
    }
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .block{
        margin-top: 10px;
    }
    .data-table{
        margin-left: 0px;
    }
    .form-add{
        margin-left: auto;
    }
    .form-change{
        margin-left: auto;
    }
    .findIdFinance-btn{
        margin-left: auto;
    }
    .change-btn{
        margin-left: auto;
    }
    .send-btn{
        margin-left: auto;
    }
    .data-table{
        margin-left: 50px;
    }
}

/* Медиа-запрос для устройств с максимальной шириной 640px */
@media (max-width: 640px){
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__menu-list{
        width: 153px;
        background-color: #0782ba;
        color: #fff8f3;
        flex-direction: column;
        gap: 20px 0; /* Расстояние между элементами меню по вертикали */
        padding: 25px 35px 25px 45px;
        position: absolute; /* Абсолютное позиционирование элементов меню */
        right: 0;
        top: 50px;
        transform: translateY(-200%); /* Смещение меню вверх на -200% своей высоты */
        transition: transform .5s ease; /* Плавное изменение свойства transform */
        z-index: 5; /* Позиция меню по вертикали */
    }

    .header__menu-list.menu--open{
        transform: translateX(0%);
    }

    .menu__btn{
        display: flex;
    }
    .header__menu{
        order: 1; /* Изменение порядка элемента внутри флекс-контейнера */
    }
    .form-add{
        margin-left: auto;
    }
    .form-change{
        margin-left: auto;
    }
    .findIdFinance-btn{
        margin-left: auto;
    }
    .change-btn{
        margin-left: auto;
    }
    .send-btn{
        margin-left: auto;
    }
}

/* Медиа-запрос для устройств с максимальной шириной 340px */
@media (max-width: 340px){
    .footer__inner{
        flex-direction: column; /* Ориентация элементов внутри футера в виде колонки */
        text-align: center;
    }
    .footer{
        position: inherit;
        padding: 50px 0;
        font-size: 14px;
    }
    .form-add{
        margin-left: auto;
    }
    .form-change{
        margin-left: auto;
    }
    .findIdFinance-btn{
        margin-left: auto;
    }
    .change-btn{
        margin-left: auto;
    }
    .send-btn{
        margin-left: auto;
    }
}